body {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

*::selection {
  background: #edf5ff;
}

.header {
  background: url(backgroundImages/gradientlight.jpg) top no-repeat fixed;
  background-size: cover;
  height: 200px;
  text-align: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
  margin: 0;
  padding: 30px 10px 0px;
}

.header__link-item {
  background-color: #fcfafb83;
  border: 2px dashed #a7a7a7;
  border-radius: 10% 10% 50% 50%;
  color: #000000;
  display: inline-block;
  font-size: 18px;
  padding: 15px 10px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
  width: 150px;
}

.header__link-item:hover {
  background-color: #faf0f6;
  border-style: solid;
  color: #000;
}

.header__logo {
  margin-top: 16px;
  width:180px;
}

.header__title {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 15px;
  transform: rotateY(0deg);
}

.header__autor-name {
  margin: 0;
  padding-bottom: 20px;
}

.planner {
  display: flex;
  justify-content: space-evenly;
  min-height: 500px;
}

.planner__board {
  background-color: #f9f0fa;
  height: 100%;
  padding: 4px;
  width: 350px;
}

.planner__title {
  background-color: #faf0f6;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 3% 1%;
  text-align: center;
  text-transform: uppercase;
  width: 98%;
}

.planner__task {
  background-color: #fcfafb;
  display: inline-block;
  min-height: 36px;
  width: 350px;
}

.planner__button {
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  margin: 2% 0 1% 0;
  padding: 2% 6%;
  text-align: left;
  transition-duration: 0.3s;
  width: 100%;
}

.planner__task-button {
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  height: 36px;
  margin: 4px 2.5px;
  padding: 0.5px 0;
  transition-duration: 0.3s;
  width: 30px;
}

.planner__button:hover, .planner__task-button:hover {
  background-color: #fcfafb;
}

.planner__task-button--absolute {
  position: absolute;
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  height: 36px;
  margin: 4px 2.5px;
  padding: 3px 0 0;
  transition-duration: 0.3s;
  width: 30px;
}

.planner__palette-button {
  border: solid 1px #8d8d8d;
  border-radius: 10%;
  background-color: #754567;
  height: 36px;
  margin: 4px 0 0 -32px;
  position: absolute;
  padding: 0px 0px 0 2px;
  width: 66px;
}

.planner__palette {
  border-radius: 50%;
  cursor: pointer;
  float: left;
  height: 15px;
  margin: 0px 2.5px 3px;
  width: 15px;
}

.planner__task-text {
  float: left;
  min-height: 32px;
  margin: 4px;
  padding: 2px;
  text-align: center;
  width: 230px;
}

.planner__large-element {
  font-size: 26px;
  vertical-align: baseline;
}

.planner__textarea {
  border: none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  height: 32px;
  letter-spacing: 2px;
  margin: 4px 3px 4px 4px;
  padding: 1px 2px;
  resize: none;
  vertical-align: top;
  width: 301px;
}

.planner__textarea:focus, .planner__button:focus, .planner__task-button:focus, .planner__task-button--absolute:focus {
  outline: solid 1px #8d8d8d;
}

.planner__palette-button:focus {
  outline: none;
}

.planner__image {
  width: 100%;
}

.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

.popup {
  background-color: #beb7ca;
  height: min-content;
  margin: auto;
  padding: 10px;
  width: 500px;
}

.popup__task {
  box-sizing: border-box;
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
  height: 50px;
  margin: 0;
  padding: 5px;
  resize: none;
  text-align: center;
  width: 100%;
}

.popup__description {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  min-height: 200px;
  resize: none;
  width: 100%;
}

.popup__time {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  height: 30px;
  resize:none;
  text-align: center;
  vertical-align: -10px;
  width: 40px;
}

.popup__marker {
  display: inline;
  padding: 0 10px 0 5px;
  font-size: 22px;
}

.popup__file {
  width: 100%;
}

.popup__button {
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
  padding: 2% 6%;
  text-align: left;
  transition-duration: 0.3s;
  width: 100px;
}

.advantages__line {
  border: none;
  background-color: #8d8d8d;
  height: 1px;
  margin: 0 5%;
  width: 90%;
  transform: rotateY(90deg);
}

.advantages__heading {
  font-size: 40px;
  letter-spacing: 20px;
  margin: 50px 0;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  transform: rotateX(90deg);
}

.advantages-block {
  height: 300px;
  margin: 60px 0;
}

.advantages__title {
  font-size: 30px;
  opacity: 0;
  padding: 0 10px;
  transform: rotateY(-180deg);
}

.advantages__text{
  font-size: 24px;
  opacity: 0;
  padding: 0 10px;
  transform: rotateY(90deg);
}

.advantages__text-container {
  float: left;
  height: 300px;
  margin: 0 7%;
  width: 30%;
}

.advantages__text-container--right {
  float: right;
}

.advantages__image {
  float: right;
  height: 300px;
  position: absolute;
  transform: rotateY(90deg);
  opacity: 0;
  width: 50%;
}

#advantages__image--first {
  background: url(../src/backgroundImages/list.png) center no-repeat;
  background-size: contain;
  margin: 0 0% 0 45%;
}

#advantages__image--second {
  background: url(../src/backgroundImages/dragndrop.png) center left no-repeat;
  background-size: contain;
  margin-left: 5%;
}

#advantages__image--third {
  background: url(../src/backgroundImages/palette.png) center no-repeat;
  background-size: contain;
  margin: 0 0% 0 45%;
}

.quote-block {
  background: url(../src/backgroundImages/gradientlight.jpg) center no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.quote-block__title {
  font-size: 30px;
  font-weight: 400;
  opacity: 0;
  padding: 10% 10px 0%;
  transform: rotateX(-180deg);
}

.quote-block__autor-name {
  padding: 5%;
}

.features {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

.features-block {
  float: left;
  padding-bottom: 5%;
  text-align: center;
  width: 33.3%;
}

.features-block__title {
  opacity: 0;
  padding: 50px 5px 20px;
  transform: rotateY(90deg);
}

.features-block__image {
  opacity: 0;
  transform: rotateY(90deg) rotateX(180deg);
  width: 40%;
}

.footer {
  background: url(../src/backgroundImages/gradientlight.jpg) center no-repeat fixed;
  background-size: cover;
  height: 140px;
  padding-top: 110px;
  text-align: center;
}

.footer__link {
  background-color: #ffffff;
  border: 2px dashed #a7a7a7;
  border-radius: 10% ;
  color: #000000;
  font-size: 20px;
  padding: 20px 30px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.footer__link:hover {
  background-color: #faf0f6;
  border-style: solid;
  text-shadow: none;
}

@media screen and (max-width: 1100px) {
  .planner__board {
    width: 272px;
  }
  .planner__task {
    width: 272px;
  }
  .planner__task-text {
    width: 172px;
  }
  .planner__textarea {
    height: 33px;
    width: 231px
  }
  .planner__task-button, .planner__task-button--absolute {
    height: 36px;
    width: 24px;
  }
  .planner__palette-button {
    margin: 4px 0 0 -27px;
    padding: 0 0 0 0.2px;
    width: 54px;
  }
  .planner__palette {
    margin: 1px 1.1px;
  }
}

@media screen and (max-width: 860px) {
  .header {
    height: 100%;
  }
  .header__menu {
    display: block;
    padding-top: 20px;
  }
  .header__item {
    padding: 15px;
  }
  .header__link-item {
    border-radius: 34%;
    font-size: 16px;
    padding: 15px 10px;
  }
  .header__logo {
    width: 174px;
  }
  .header__title {
    font-size: 24px;
  }
  .planner {
    display: block;
  }
  .planner__board {
    margin: 0 auto 10px;
    width: 370px;
  }
  .planner__task {
    width: 370px;
  }
  .planner__task-text {
    width: 257px;
  }
  .planner__textarea {
    height: 32px;
    width: 324px
  }
  .planner__task-button, .planner__task-button--absolute {
    height: 36px;
    width: 28px;
  }
  .planner__palette-button {
    margin: 4px 0 0 -30px;
    padding: 0px 1px;
    width: 61px;
  }
  .planner__palette {
    margin: 0.6px 1.8px 2px;
  }
  .advantages {
    height: 1500px;
  }
  .advantages__heading {
    font-size: 38px;
    letter-spacing: 10px;
  }
  .advantages__block {
    height: 400px;
  }
  .advantages__text-container {
    height: auto;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .advantages__title {
    font-size: 24px;
  }
  .advantages__text {
    font-size: 18px;
  }
  .advantages__image, #advantages__image--first, #advantages__image--second, #advantages__image--third {
    background-position: center;
    position: relative;;
    margin: 0;
    width: 100%;
  }
  #advantages__image-second {
    background-position: center;
  }
  .features-block__title {
    font-size: 20px;
    height: 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .planner__board {
    margin: 0 0 30px;
    padding: 1% 0%;
    width: 100%;
  }
  .planner__task {
    width: 100%;
  }  
  .planner__task-text {
    height: 33px;
    margin: 2% 1%;
    padding: 1%;
    width: 50%;
  }
  .planner__textarea{
    height: 40px;
    margin: 2% 1%;
    padding: 0;
    width: 83%;
  }
  .planner__task-button, .planner__task-button--absolute {
    height: 40px;
    margin: 2% 1%;
    padding: 0;
    width: 13%;
  }
  .planner__image {
    max-width: 36px;
    margin: 2% auto;
    width: 80%;
  }
  .planner__palette-button {
    margin: 2% 0 0 -14%;
    height: 40px;
  }
  .advantages__heading {
    font-size: 24px;
    letter-spacing: 5px;
    padding: 0 5px;
  }
  .features-block {
    float: none;
    width: 100%
  }
  .features-block__title {
    height: auto;
    padding-top: 20px;
  }
  .footer__link {
    font-size: 16px;
    padding: 15px;
  }
}  

@media screen and (max-width: 340px) {
  #advantages__image-first, #advantages__image-second  #advantages__image-third  {
    background-color: #ffffff;
    background-size: cover;
    height: 50%;
  }
  .advantages__block {
    height: 350px;
  }
  .advantages {
    height: 1600px;
  }
}














