body {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

*::selection {
  background: #edf5ff;
}

.header {
  background: url(backgroundImages/gradientlight.jpg) top no-repeat fixed;
  background-size: cover;
  height: 200px;
  text-align: center;
}

.header__menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
  margin: 0;
  padding: 40px 10px 20px;
}

.header__link-item {
  background-color: #fcfafb83;
  border: 2px dashed #a7a7a7;
  border-radius: 10% 10% 50% 50%;
  color: #000000;
  font-size: 18px;
  padding: 15px 10px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header__link-item:hover {
  background-color: #faf0f6;
  border-style: solid;
  color: #000;
  text-shadow: none;
}

.header__logo {
  width:180px;
}

.header__title {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 15px;
}

.header__autor-name {
  margin: 0;
  padding-bottom: 20px;
}

.planner {
  display: flex;
  justify-content: space-around;
  min-height: 500px;
}

.planner__board {
  background-color: #faf0f6;
  height: 100%;
  margin: 2%;
  padding: 0.4%;
  width: 33%;
}

.planner__title {
  background-color: #faf0f6;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 3% 1%;
  text-align: center;
  text-transform: uppercase;
  width: 98%;
}

.planner__task {
  background-color: #fcfafb;
  display: inline-block;
  min-height: 36px;
  width: 100%;
}

.planner__button {
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  margin: 2% 0 1% 0;
  padding: 2% 6%;
  text-align: left;
  transition-duration: 0.3s;
  width: 100%;
}

.planner__task-button {
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  height: 36px;
  margin: 1%;
  padding: 0.5px 0;
  transition-duration: 0.3s;
  width: 8%;
}

.planner__button:hover, .planner__task-button:hover {
  background-color: #fcfafb;
}

.planner__task-button--absolute {
  position: absolute;
  border: none;
  background-color: #faf0f6;
  cursor: pointer;
  font-weight: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  height: 36px;
  margin: 0.27%;
  padding: 3px 0 0;
  transition-duration: 0.3s;
  width: 2.1%;
}

.planner__palette-button {
  border: none;
  background-color: #754567;
  height: 5%;
  margin: 0.25% 0 0 -3.1%;
  max-width: 60px;
  position: absolute;
  padding: 0.08% 0.08%;
  width: 54px;
}

.planner__palette {
  border-radius: 50%;
  cursor: pointer;
  float: left;
  height: 15px;
  margin: 2% 2.1% 2%;
  width: 15px;
}

.planner__task-text {
  float: left;
  min-height: 32px;
  margin: 1%;
  padding: 0.5%;
  text-align: center;
  width: 67%;
}

.planner__large-element {
  font-size: 26px;
  vertical-align: baseline;
}

.planner__textarea {
  border: none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  height: 32px;
  letter-spacing: 2px;
  margin: 1%;
  padding: 0.5%;
  resize: none;
  vertical-align: top;
  width: 87%;
}

.planner__textarea:focus, .planner__button:focus, .planner__task-button:focus, .planner__task-button--absolute:focus {
  outline: solid 1px #8d8d8d;
}

.planner__image {
  width: 100%;
}

.advantages__line {
  border: none;
  background-color: #8d8d8d;
  height: 1px;
  margin: 0 5%;
  width: 90%;
}

.advantages__heading {
  font-size: 40px;
  letter-spacing: 20px;
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.advantages__block {
  height: 300px;
  margin: 60px 0;
}

.advantages__title {
  font-size: 30px;
  padding: 0 10px;
}

.advantages__text{
  font-size: 24px;
  padding: 0 10px;
}

.advantages__text-container {
  float: left;
  height: 300px;
  margin: 0 7%;
  width: 30%;
}

.advantages__text-container--right {
  float: right;
}

.advantages__image {
  float: right;
  height: 300px;
  position: absolute;
  width: 50%;
}

#advantages__image-first {
  background: url(../src/backgroundImages/list.png) center no-repeat;
  background-size: contain;
  margin: 0 0% 0 45%;
}

#advantages__image-second {
  background: url(../src/backgroundImages/dragndrop.png) center left no-repeat;
  background-size: contain;
  margin-left: 5%;
}

#advantages__image-third {
  background: url(../src/backgroundImages/palette.png) center no-repeat;
  background-size: contain;
  margin: 0 0% 0 45%;
}

.quote-block {
  background: url(../src/backgroundImages/gradientlight.jpg) center no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.quote-block__title {
  font-size: 30px;
  font-weight: 400;
  padding: 10% 10px 0%;
}

.quote-block__autor-name {
  padding: 5%;
}

.features {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

.features-block {
  float: left;
  padding-bottom: 5%;
  text-align: center;
  width: 33.3%;
}

.features-block__title {
  padding: 50px 5px 20px;
}

.features-block__image {
  width: 40%;
}

.footer {
  background: url(../src/backgroundImages/gradientlight.jpg) center no-repeat fixed;
  background-size: cover;
  height: 140px;
  padding-top: 110px;
  text-align: center;
}

.footer__link {
  background-color: #fcfafb83;
  border: 2px dashed #a7a7a7;
  border-radius: 10% ;
  color: #000000;
  font-size: 20px;
  padding: 20px 30px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.footer__link:hover {
  background-color: #faf0f6;
  border-style: solid;
  text-shadow: none;
}


@media screen and (max-width: 860px) {
  .header {
    height: 100%;
  }
  .header__menu {
    display: block;
    padding-top: 20px;
  }
  .header__item {
    padding: 15px;
  }
  .header__link-item {
    border-radius: 34%;
    font-size: 16px;
    padding: 15px 10px;
  }
  .header__logo {
    width: 100px;
  }
  .header__title {
    font-size: 24px;
  }
  .planner {
    display: block;
  }
  .planner__board {
    margin: 2% auto;
    width: 370px;
  }
  .planner__task-button--absolute {
    margin: 4px 2px;
    width: 31.5px;
  }
  .planner__palette-button {
    height: 36.5px;
    margin: 3.5px 2px 4px -34px;
    padding: 0 4px;
    width: 74px;
  }
  .advantages__heading {
    font-size: 38px;
    letter-spacing: 10px;
  }
  .advantages__block {
    height: 400px;
  }
  .advantages__text-container {
    height: auto;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .advantages__title {
    font-size: 24px;
  }
  .advantages__text {
    font-size: 18px;
  }
  .advantages__image, #advantages__image-right, #advantages__image-left {
    position: relative;;
    margin: 0;
    width: 100%;
  }
  #advantages__image-second {
    background-position: center;
  }
  .features-block__title {
    font-size: 20px;
    height: 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .planner__board {
    margin: 0 0 30px;
    width: 99.3%;
  }
  .planner__task-button--absolute {
    margin: 1%;
    width: 8.1%;
  }
  .planner__palette-button {
    margin: 1% 0 0 -19%;
    max-width: 70px;
    width: 28%;
  }
  .planner__palette {
    height: 39%;
    margin: 2% 3.5%;
    max-width: 20px;
    width: 26%;
  }
  .advantages__heading {
    font-size: 24px;
    letter-spacing: 5px;
    padding: 0 5px;
  }
  .features-block {
    float: none;
    width: 100%
  }
  .features-block__title {
    height: auto;
    padding-top: 20px;
  }
}  

@media screen and (max-width: 340px) {
  #advantages__image-first, #advantages__image-second  #advantages__image-third  {
    background-size: cover;
    height: 50%;
  }
  .advantages__block {
    height: 350px;
  }
  .advantages {
    height: 1550px;
  }
}














