body {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

.header {
  background: url(backgroundImages/gradient_pink_purple_155175_2560x1600.jpg) center;
  background-size: cover;
  color: #fff;
  height: 300px;
  text-align: center;
  text-shadow: 2px 1.5px 1px #8d8d8d;
}

.header__menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
  margin: 40px 10px;
}

.header__link-item {
  border: 2px dashed #fff;
  border-radius: 10% 10% 50% 50%;
  color: #fff;
  font-size: 18px;
  padding: 15px 10px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header__link-item:hover {
  background-color: #fee7ff;
  border-style: solid;
  color: #000;
  text-shadow: none;
}

.header__logo {
  width:180px;
}

.header__title {
  font-size: 30px;
}

.planner-field {
  border: solid 1px #000;
  min-height: 500px;
}

.advantages__heading {
  font-size: 40px;
  letter-spacing: 20px;
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.advantages__block {
  height: 300px;
}






.btn {
  margin: 10px;
  padding: 10px 20px;
}

.wrapper {
  border: 1px solid black;
  padding: 20px 100px;
  margin: 10px auto;
  text-align: center;
  width: 600px;
}



textarea {
  resize: none;
}